.buttonProfile {
  border-radius: var(--radius-sm);
  padding: 1rem;
  width: 100%;
  text-align: center;
  display: block;
  color: var(--color-text-primary);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  background: var(--color-bg-surface);
  transition: transform 0.2s linear;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background: transparent;
    }
  }

  &:hover {
    background-image: var(--color-bg-gradient);
  }
}
