.dataDescriptionSkeleton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  &Wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    z-index: 1;
  }

  &Block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 0 1 500px;
  }
}

@media (max-width: 768px) {
  .dataDescriptionSkeleton {
    flex-direction: column;

    &Block {
      flex: 0 1 auto;
      width: 100%;
    }
  }
}
