.footer {
  grid-area: footer;
  background-color: var(--color-bg-aside);
  border-top: 3px solid var(--color-accent);
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  transition:
    visibility 0.5s,
    opacity 0.5s,
    transform 0.5s ease;

  &Hidden {
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
  }

  &Wrapper {
    display: flex;
    padding: 0.9rem 1.6rem;
  }
}

@media (max-width: 1200px) {
  .footer {
    &Wrapper {
      padding: 0.9rem 1rem;
    }
  }
}
