.loginPage {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &Wrapper {
    width: 50%;
    border: 3px solid var(--color-accent);
    border-radius: var(--radius-md);
    padding: 2rem 3rem;
  }
}
