.moveStoryBackward {
  width: 70px;
  height: 70px;
  color: var(--color-text-secondary);
  padding: 1rem;
  border-radius: var(--radius-circle);
  background-color: var(--color-bg-surface);
  opacity: 1;

  &:hover {
    background-image: var(--color-bg-gradient);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background: none;
    }
  }
}
