.profileItem {
  background-color: transparent;
  position: relative;
  color: var(--color-text-primary);

  &Avatar {
    width: 60px;
    height: 60px;
  }

  &List {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &Dropdown {
    top: 120%;
    left: 0;
    width: 100%;
    max-height: 500px;
    min-height: 200px;
    padding: 1rem;
  }

  &Item {
    border: 1px solid transparent;
    border-bottom-color: var(--color-accent);
    padding: 1rem 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom-color: transparent;
      padding-bottom: 0;
    }

    &Center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &Title {
    color: currentColor;
    font-weight: 700;
    font-size: 1.2rem;
  }

  &Text {
    color: var(--color-text-secondary);
    font-size: 1rem;
  }

  &Button {
    color: currentColor;
    position: relative;
  }

  &Circle {
    border-radius: var(--radius-circle);
    padding: 0.7rem;
    background-color: var(--color-accent);
    position: absolute;
    top: -60%;
    right: -30%;
  }

  &Empty {
    color: var(--color-text-secondary);
    font-size: 1.2rem;
    text-align: center;
    display: block;
  }
}
