.loader {
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-radius: var(--radius-circle);
  border-top-color: var(--color-accent);
  border-right-color: var(--color-accent);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
